@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<style>
    #filter-panel {
        margin-top: -20px;
        width: 100%;
        height: 150px;
        background: none;
        box-shadow: 0px 1px 0px #aab2bd;
    }

    #listing-panel {
        height: 170px;
        margin-top: 15px;
        border-bottom: 1px solid #eaeaea;
    }

    .listing-item {
        margin-top: 150px;

    }

    .property-img {
        width: 140px;
        height: 140px;
    }
</style>


<div id="filter-panel" class="col-md-10">
    <h3>Filter Panel</h3>
</div>

<div id="listing-panel">
    <div class="listing-item">
        <div class="row">
            <div class="property-img-container col-md-3">
                <img src="#" class="property-img img-thumbnail">
            </div>
            <div class="property-desc-container col-md-6">
                <h2>Test Property</h2>
            </div>
        </div>
       
    </div>
</div>